/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 15px !important;
  --mdc-outlined-text-field-outline-color: rgb(196, 198, 208) !important
  ;
}

/* Change the border color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(red) !important;
}

/* styles.scss or component.scss */
.snackbar-success {
  background-color: #4caf50 !important; /* Green for success */
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important; /* Red for error */
  color: white !important;
}
