<div class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Filter by Name</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="applyName(getValue($event))"
      (keyup.enter)="searchWithFilter()"
      placeholder="Search users"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Filter by Email</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="applyEmail(getValue($event))"
      (keyup.enter)="searchWithFilter()"
      placeholder="Search users"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Filter by Phone</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="applyPhone(getValue($event))"
      (keyup.enter)="searchWithFilter()"
      placeholder="Search users"
    />
  </mat-form-field>
  <button mat-button (click)="searchWithFilter()">Search with Filters</button>
  <button id="create-btn" mat-fab extended class="pull-right" (click)="createUser()">
    <mat-icon>add</mat-icon>
    Add new user
  </button>
</div>

<div class="user-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">
        Name
      </th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email">
        Email
      </th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Phone">
        Phone Number
      </th>
      <td mat-cell *matCellDef="let user">{{ user.phone_number }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" (click)="updateUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
